---
export async function getStaticPaths() {
  const data = await fetch(
    "https://hnrcndxoquhelmpaqheh.supabase.co/rest/v1/uxcopenhagen", {
	method: "GET",
	headers: {
	apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhucmNuZHhvcXVoZWxtcGFxaGVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM4MjI5MTksImV4cCI6MjAwOTM5ODkxOX0.Kj0vgWH3imfxSBjrhKN9746mppt3v9ldhd1y2ugyfyc"
	},
}).then(response => response.json());

  return data.map((ticket) => {
    return {
      params: { ticketurl: ticket.ticketurl },
      props: { ticket },
    };
  });
}

const { ticket } = Astro.props;
console.log(ticket);

import Footer from "../../components/Footer.astro";
import Layout from "../../layouts/Layout.astro";
---
<Layout title={ticket.title}>
  <div class="ticket-container">
    <article class="row"></article>
    <article class="row"></article>
  </div>
  
  <div class="desc-container">
    <div id="desc-container-left"></div>
    <div id="disc-container-right"></div>
  </div>
  
  <div class="pricing">
    <div class="pricing-container"></div>
    <div class="terms"></div>
  </div>
</Layout>