---
export async function getStaticPaths() {
  const data = await fetch(
    "https://hnrcndxoquhelmpaqheh.supabase.co/rest/v1/uxcopenhagen", {
	method: "GET",
	headers: {
	apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhucmNuZHhvcXVoZWxtcGFxaGVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM4MjI5MTksImV4cCI6MjAwOTM5ODkxOX0.Kj0vgWH3imfxSBjrhKN9746mppt3v9ldhd1y2ugyfyc"
	},
}).then(response => response.json());

  return data.map((data) => {
    return {
      params: { ticketurl: data.ticketurl },
      props: { data },
    };
  });
}

const { data } = Astro.props;
console.log(data);
import '../../style.css'; 
import Ticket from "../../components/Ticket.astro";
import Layout from "../../layouts/Layout.astro";
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Ticketmain from '../../components/Ticketmain.astro';
---







<Layout title={data.title}>
  <Header />
  <section class="ticket-container">
    <article class="row">
      <Ticketmain data={data}/>
    </article>
    <article class="row"></article>
  </section>

  <section class="desc-container">
    <div id="desc-container-left"></div>
    <div id="disc-container-right"></div>
  </section>

  <section class="pricing">
    <div class="pricing-container"></div>
    <div class="terms"></div>
  </section>

  {
    [data].map((data)=> {
      return <Ticket data={data} />
    })
  }
</Layout>

<style>
  @media screen (min-width: 768px ) {
   .ticket-container {
    display: grid;
   }
  }
</style>