---
export async function getStaticPaths() {
	//Fetch database info
  const data = await fetch(
    "https://hnrcndxoquhelmpaqheh.supabase.co/rest/v1/uxcopenhagen", {
	method: "GET",
	headers: {
	apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhucmNuZHhvcXVoZWxtcGFxaGVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM4MjI5MTksImV4cCI6MjAwOTM5ODkxOX0.Kj0vgWH3imfxSBjrhKN9746mppt3v9ldhd1y2ugyfyc"
	},
	//parse to json
}).then(response => response.json());
	//function to create static path based on ticketurl value in database
  return data.map((data) => {
    return {
      params: { ticketurl: data.ticketurl },
      props: { data },
    };
  });
}

const { data } = Astro.props;
console.log(data);
import '../../style.css'; 
import Ticket from "../../components/Ticket.astro";
import Layout from "../../layouts/Layout.astro";
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Ticketmain from '../../components/Ticketmain.astro';
import Button from '../../components/Button.astro';
---







<Layout title={data.title}>
  <Header />
  <section class="ticket-container">
    <article class="row">
      <Ticketmain data={data}/>
    </article>
    <article class="row">
		<h1><span class="highlight">UX Copenhagen 2024 </span>“Consumerism & Degrowth”: Full event ticket</h1>
		<div class="ticket-body">
			<h4>Tickets include:</h4>
			<ul>
				<li>Full access to the recording of the 2023 conference</li>
				<li>Access to all talks </li>
				<li>Q&A sessions </li>
				<li>Recordings of 2-3 of the workshops for a discounted price</li>
			</ul>
			<p>Please note that the livestream ticket is not refundable</p>
		</div>
		<div class="price-and-pay">
			<p>Price:</p>
			<p>{data.price}</p>
			<form action=""></form>
			<Button href="#" variant="filled">Add to Card</Button>
		</div>
	</article>
  </section>

  <section class="desc-container">
    <div id="desc-container-left">
		<h2>Description</h2>
		<p>
			This ticket is for joining us live in Copenhagen on March 20-21, 2024. There will be an excellent line-up of live and online speakers; live Q&A sessions; 2-3 hands-on workshops to choose from each day; live and online Round Table sessions with current and previous speakers; food, drinks, and snacks throughout both days; a goodie-bag; access to our groups on Slack and other social media platforms; and access to the full recording of the live-stream for three months after the event (until June 30, 2024).
			This ticket also includes access to some of the events surrounding the conference (to be announced later), and our dinner party on Wednesday, March 20th.
			</p>
	</div>
    <div id="disc-container-right">
		<p>For 2024, our presenters will be exploring the topic of “Consumerism & Degrowth”. There will be talks on new ways of farming like urban agriculture, new shopping experiences, designing for “The Third Age”/ageism, and sustainability.

			Our speakers and our participants are a fantastic mixture of international and local UX and design experts, marketing professionals, digital managers, designers, innovators, strategists, researchers, and others curious about the field. Join us for two days filled with interaction, inspiration, networking, and new knowledge and insights.
			
			If you have any questions, please reach out to hello@uxcopenhagen.com.</p>
	</div>

  </section>

  <section class="pricing">
    <div class="pricing-container">
		<p>Pricing: <br>
		Early Bird: September 1 - November 15
		Regular price: November 16 - January 31
		Late Bird: (does not apply to live-stream tickets)
		</p>
	</div>
    
  </section>
  	<div class="terms">
		<p>*Rules apply, please refer to our Terms & Conditions: https://uxcopenhagen.com/terms-and-conditions.</p>
	</div>
<!-- 
  {
    [data].map((data)=> {
      return <Ticket data={data} />
    })
  } 
  -->
  <Footer />
</Layout>

<style>
	:root {
		--from-top: 160px;
	}
	
@media (min-width: 768px) {
   	.ticket-container {
		position: relative;
    	display: grid;  
		max-width: 1280px;
		margin: auto;
		margin-top: var(--from-top);
		grid-template-columns: 1fr 1fr;
		place-items: center;
	
   }
    .row {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 15px;


   }
   	.price-and-pay {
		display: flex;
		flex-direction: column;
		justify-content: center;
		place-self: left;
		margin-left: 40px;
   }
   .price-and-pay > * {
		margin: 5px;
   }
   .desc-container {
		position: relative;
		display: flex;
		max-width: 1280px;
		margin: 0 auto;
		margin-top: calc(var(--from-top));
   }
   .pricing {
		position: relative;
	
		max-width: 600px;
		margin: 0 auto;
		margin-top: calc(var(--from-top));
		padding: 55px;
		border-radius: 10px;
		background: linear-gradient(68deg, rgba(248, 240, 234, 0.80) 31.32%, rgba(170, 182, 194, 0.80) 92.22%);
		
   }
   .pricing p {
		color: #083862;
		line-height: 45px;
   }
   .terms {
		max-width: 300px;
		margin: 15px auto;
   }
   .terms p {
		font-size: 12px;
   }
  }
</style>