---
export async function getStaticPaths() {
  const data = await fetch(
    "https://hnrcndxoquhelmpaqheh.supabase.co/rest/v1/uxcopenhagen", {
	method: "GET",
	headers: {
	apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhucmNuZHhvcXVoZWxtcGFxaGVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM4MjI5MTksImV4cCI6MjAwOTM5ODkxOX0.Kj0vgWH3imfxSBjrhKN9746mppt3v9ldhd1y2ugyfyc"
	},
}).then(response => response.json());

  return data.map((data) => {
    return {
      params: { ticketurl: data.ticketurl },
      props: { data },
    };
  });
}

const { data } = Astro.props;
console.log(data);
import '../../style.css'; 
import Ticket from "../../components/Ticket.astro";
import Layout from "../../layouts/Layout.astro";
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---
<Layout title={data.title}>
  <Header />
  <div class="ticket-container">
    <article class="row">
      <Ticket data={data}/>
    </article>
    <article class="row"></article>
  </div>

  <div class="desc-container">
    <div id="desc-container-left"></div>
    <div id="disc-container-right"></div>
  </div>

  <div class="pricing">
    <div class="pricing-container"></div>
    <div class="terms"></div>
  </div>

  {
    [data].map((data)=> {
      return <Ticket data={data} />
    })
  }
</Layout>

<style>

</style>