---
export async function getStaticPaths() {
  const data = await fetch(
    "https://hnrcndxoquhelmpaqheh.supabase.co/rest/v1/uxcopenhagen", {
	method: "GET",
	headers: {
	apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhucmNuZHhvcXVoZWxtcGFxaGVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM4MjI5MTksImV4cCI6MjAwOTM5ODkxOX0.Kj0vgWH3imfxSBjrhKN9746mppt3v9ldhd1y2ugyfyc"
	},
}).then(response => response.json());

  return data.map((data) => {
    return {
      params: { ticketurl: data.ticketurl },
      props: { data },
    };
  });
}

const { data } = Astro.props;
console.log(data);
import '../../style.css'; 
import Ticket from "../../components/Ticket.astro";
import Layout from "../../layouts/Layout.astro";
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Ticketmain from '../../components/Ticketmain.astro';
import Button from '../../components/Button.astro';
---







<Layout title={data.title}>
  <Header />
  <section class="ticket-container">
    <article class="row">
      <Ticketmain data={data}/>
    </article>
    <article class="row">
		<h1><span class="highlight">UX Copenhagen 2024 </span>“Consumerism & Degrowth”: Full event ticket</h1>
		<div class="ticket-body">
			<h4>Tickets include:</h4>
			<ul>
				<li>Full access to the recording of the 2023 conference</li>
				<li>Access to all talks </li>
				<li>Q&A sessions </li>
				<li>Recordings of 2-3 of the workshops for a discounted price</li>
			</ul>
			<p>Please note that the livestream ticket is not refundable</p>
		</div>
		<div class="price-and-pay">
			<p>Price:</p>
			<p>6499,-</p>
			<form action=""></form>
			<Button href="#" variant="filled">Add to Card</Button>
		</div>
	</article>
  </section>

  <section class="desc-container">
    <div id="desc-container-left"></div>
    <div id="disc-container-right"></div>
  </section>

  <section class="pricing">
    <div class="pricing-container"></div>
    <div class="terms"></div>
  </section>

  {
    [data].map((data)=> {
      return <Ticket data={data} />
    })
  }
</Layout>

<style>
@media (min-width: 768px) {
   	.ticket-container {
		position: relative;
		top: 120px;
    	display: grid;  
		max-width: 1280px;
		margin: 0 auto;
		grid-template-columns: 1fr 1fr;
		place-items: center;
	
   }
    .row {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 15px

   }
   	.price-and-pay {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		place-self: center;
   }
   .price-and-pay > * {
		margin: 5px;
   }
  }
</style>