---
import '../style.css'
import 'animate.css'

const { variant,href } = Astro.props;
---

<a href={href} class={variant}>
    <slot />
</a>

<style>
    a {
        text-align: center;
        display: inline-block;
        border: 2px solid var(--accent-orange);
        padding: 0.3rem 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
        transition: all 250ms ease;
    }
    a:hover {
        animation: pulse;
        animation-duration: 0.25s;

    }
    .filled {
        background-color: var(--accent-orange);
    }
    .filled:hover {
        background-color: transparent;
    }
    .inverse {
        background-color: transparent;
    }
    .inverse:hover {
        background-color: var(--accent-orange);
    }
</style>