---
import '../style.css';
import Button from './Button.astro';

---

<header>
    <a href="/" class="logo">
    <img src=/icons/UX_fulllogo_farver.svg alt="logo"></a>

    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/talks">Previous Talks</a></li>
        <Button href="/#tickets" variant="filled" >Tickets</Button>
      </ul>
        
    </nav>
</header>

<style>
    header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(180deg, #021E38 0%, rgba(2, 30, 56, 0.63) 51.56%, rgba(2, 30, 56, 0.00) 100%);
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        z-index: 2;

    }
    .logo {
        margin: 15px;
    }
    .logo img {
        height: 65px;
    }
    nav {
        width: 400px;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    li {
        list-style: none;
        font-size: 15px;
    }
    a {
        transition: all 350ms ease;
    }
    a:hover {
        color: var(--accent-yellow);
    }
</style>