@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --accent-orange: #e3853b;
  --accent-yellow: #ecb043;
  --main-blue: #1a3e5a;
  --accent-blue: #5a9dba;
  --accent-blue-light: #b1dcec;

  padding: 0;
  margin: 0;
}

body {
  font-family: "Heebo", sans-serif;
  padding: 0;
  margin: 0;
}
a,
h1,
h2,
h3,
h4,
h5,
p,
li {
  text-decoration: none;
  color: white;
  margin: 0;
}

.highlight {
  color: var(--accent-yellow);
}
p {
  font-size: 18px;
}
h3 {
  font-size: 2vw;
  margin-bottom: 1%;
  font-family: "Prompt", sans-serif;
}

h1 {
  font-size: 3vw;
  font-family: "Prompt", sans-serif;
}
