---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	body {
		min-height: 200vh;
	}
	html {
		font-family: system-ui, sans-serif;
		background: linear-gradient(180deg, #05192C 2.32%, #083E71 29.54%, #083864 39.28%, #071E32 99.87%);
		background-repeat: no-repeat;
	}

</style>
